<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%- include('./partials/style.ejs') %>
    <title>About Us</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        The curious cat danced on the moonlit rooftop, whiskers twitching with
        anticipation. In a whimsical forest, enchanted fireflies orchestrated a
        mesmerizing ballet, casting a gentle glow on the ancient trees.
        Sparkling dewdrops adorned the emerald leaves, creating a scene of
        magical serenity.
      </p>
      <p>
        Beneath the starry canvas of the night sky, a lone traveler embarked on
        a journey through rolling hills and meandering streams. Echoes of
        laughter resonated in a quaint village square, where colorful market
        stalls showcased a medley of artisan crafts. The aroma of freshly baked
        bread wafted through the air, weaving tales of culinary delight.
      </p>
      <p>
        In a bustling cityscape, neon lights painted the streets in vibrant
        hues, reflecting the eclectic energy of urban life. High above,
        skyscrapers reached for the heavens, their silhouettes standing sentinel
        against the twilight. Sidewalk cafes hummed with conversation, a
        symphony of diverse voices harmonizing in the tapestry of metropolitan
        rhythm.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
